<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- GeneralRequest Servlet -->
    <!-- GeneralRequest Servlet Cua Bao trong day -->
    <servlet>
        <servlet-name>Action</servlet-name>
        <servlet-class>fptu.edu.vn.trainingcenter.BaoPhaCode.Controller.Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>fptu.edu.vn.trainingcenter.BaoPhaCode.Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCusServlet</servlet-name>
        <servlet-class>fptu.edu.vn.trainingcenter.BaoPhaCode.Controller.SearchCusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCusServlet</servlet-name>
        <servlet-class>fptu.edu.vn.trainingcenter.BaoPhaCode.Controller.UpdateCusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoUpdateCusServlet</servlet-name>
        <servlet-class>fptu.edu.vn.trainingcenter.BaoPhaCode.Controller.DoUpdateCusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>fptu.edu.vn.trainingcenter.BaoPhaCode.Controller.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCusServlet</servlet-name>
        <servlet-class>fptu.edu.vn.trainingcenter.BaoPhaCode.Controller.DeleteCusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Action</servlet-name>
        <url-pattern>/Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCusServlet</servlet-name>
        <url-pattern>/SearchCusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCusServlet</servlet-name>
        <url-pattern>/UpdateCusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoUpdateCusServlet</servlet-name>
        <url-pattern>/DoUpdateCusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCusServlet</servlet-name>
        <url-pattern>/DeleteCusServlet</url-pattern>
    </servlet-mapping>
    <!-- GeneralRequest Servlet Cua Bao trong day -->
    <!--  GeneralRequest Servlet  -->
    <servlet>
        <servlet-name>GeneralRequest</servlet-name>
        <servlet-class>fptu.edu.vn.trainingcenter.HariCoder.Controller.Common.GeneralRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneralRequest</servlet-name>
        <url-pattern>/GeneralRequest</url-pattern>
    </servlet-mapping>
    <!--  LoginController Servlet  -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>fptu.edu.vn.trainingcenter.HariCoder.Controller.Common.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NavigationController</servlet-name>
        <servlet-class>fptu.edu.vn.trainingcenter.CommonController.NavigationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NavigationController</servlet-name>
        <url-pattern>/NavigationController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout> 30 </session-timeout>
    </session-config>
    <welcome-file-list>
       <welcome-file>home.jsp</welcome-file>
       <!-- <welcome-file>BaoPhaCode/LoginSale.jsp</welcome-file> -->
    </welcome-file-list>
</web-app>
